body {
    font-family: Arial, sans-serif;
    background-color: #C7BEFF;
    color: #333;
    text-align: center;
}

h1 {
    font-family: 'New Rocker', cursive; /* New Rocker font for heading */
    color: #772345;
    font-size: 60px;
    margin-bottom: 20px; /* Adds space below the header */
}

h2 {
    color: #F35C03;
    font-family: Arial, sans-serif;
    font-size: 28px; /* Add size for better prominence */
    margin-top: 40px;
}

ul.projects {
    list-style-type: none;
    margin: 0 15px;
    padding: 0;
    display: flex;
    justify-content: center; 
    color: #C7BEFF;
    font-size: 22px;
    font-weight: bold; /* Makes the links bold */
    -webkit-text-stroke: 1px solid #F35C03; 
}

header {
    display: flex;
    flex-direction: column; /* Stack the content vertically */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    padding: 40px;
    background-color: #DFDCFD; /* Add background to header for contrast */
}

nav {
    margin-top: 20px; /* Space between header and nav buttons */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Align the buttons horizontally */
    justify-content: center; /* Center buttons horizontally */
    gap: 20px; /* Space between buttons */
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding: 15px 30px; /* Padding for button appearance */
    background-color: #F35C03; /* Button background */
    border-radius: 5px; /* Rounded corners for buttons */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Button shadow */
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #772345; /* Darken the button color on hover */
    transform: scale(1.1); /* Slight scaling effect on hover */
    text-decoration: none; /* Remove underline */
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1), 0px 0px 20px rgba(255, 255, 255, 0.8), 0px 0px 30px rgba(255, 255, 255, 0.6);
}

/* Style for social media list */
ul.socials {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  ul.socials li {
    display: inline-block;
    margin: 10px;
  }
  
  ul.socials li a {
    font-size: 30px; /* Icon size */
    color: #333; /* Icon color */
    text-decoration: none;
  }
  
  ul.socials li a:hover {
    color: #F35C03; /* Hover color */
    transition: color 0.3s ease;
  }
  
  ul.socials li a i {
    margin-right: 10px; /* Space between icon and text */
  }
  
